
{% extends 'BaseFront.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1 style="color: #1e7e34; margin-left: 300px">404 NOT FOUND</h1>
    <img style="height: 500px; width: 500px;" src="/Imagez/notfound404.jpg" alt >
    <a href="{{ path('Front_index') }}" class="btn btn-form">Retour à la page d'accueil</a>.
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


{% endblock %}

{#
<style>
    /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
        position: fixed;
        right: 0;
        min-width: 100%;
        min-height: 100%;
    }

    /* Add some content at the bottom of the video/page */
    .content {
        position: fixed;
        bottom: 0;
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        font-weight: bold;
        color: #1e7e34;
        text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
        width: 100%;
        padding: 400px;
    }

    /* Style the button used to pause/play the video */
    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #1e7e34;
        color: #FFFFFF;
        cursor: pointer;
    }

    #myBtn:hover {
        background: #1e7e34;
        color: white;
    }
</style>
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="/Videoz/barbara.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
    <h1>404 Page Non Trouvée</h1>

    <!-- Use a button to pause/play the video with JavaScript -->
    <a id="myBtn" href="{{ path('Front_index') }}">Retour à l'accueil</a>

</div>


<script>
    var video = document.getElementById("myVideo");
    var btn = document.getElementById("myBtn");

    function myFunction() {
        if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
        } else {
            video.pause();
            btn.innerHTML = "Play";
        }
    }
</script>
#}