{% extends 'BaseFront.html.twig' %}
{% block body %}
    <h1>Table des Repas</h1>
    <div class="offer">
        <div class="container">

            <a href="{{ path('client2') }}" class="btn btn-primary">Regimes </a>

            <a href="{{ path('client') }}" class="btn btn-primary">Repas </a>

        </div>
    </div>
{% endblock %}


