{% extends 'BaseBack.html.twig' %}
{% block body %}
    <div id="content" class="main-content">

        <h1>Gestion De Regimes</h1>

        <a href="{{ path('safe') }}" class="btn btn-primary">Regimes </a>
        <h1>Gestion De Repas</h1>
        <a href="{{ path('club') }}" class="btn btn-primary">Repas </a>


    </div>
{% endblock %}


