{% extends 'BaseBack.html.twig' %}

{% block title %}Edit CategoriePr{% endblock %}

{% block body %}
    <h1>Modifier la catégorie</h1>
<div class="statbox widget box box-shadow">
    {{ include('/Back/categorie_pr/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('categorie_pr_index') }}" class="btn btn-outline-primary mb-2">Retour aux catégories</a>

</div>
{% endblock %}
