<form method="post" action="{{ path('categorieevent_delete', {'categoriee': categorieevent.categoriee}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieevent.categoriee) }}">
    <button class="btn">Delete</button>
</form>
