{% extends 'base.html.twig' %}
{% block title %}Edit Compteadmin{% endblock %}

{% block body %}
    <h1>Edit Compteadmin</h1>

<table >
    <tr>
    {{ include('compteadmin/_form.html.twig', {'button_label': 'Update'}) }}

    </tr>
    <tr>
    <a href="{{ path('compteadmin_index') }}" class="btn btn-filters active" >back to list</a>

    {{ include('compteadmin/_delete_form.html.twig') }}
    </tr>
</table>

{% endblock %}
