{% extends 'base.html.twig' %}

{% block title %}New Compteadmin{% endblock %}

{% block body %}
    <h1>Create new Compteadmin</h1>

    {{ include('compteadmin/_form.html.twig') }}

    <a href="{{ path('compteadmin_index') }}" class="btn btn-filters active">back to list</a>
{% endblock %}
