
<div class="row">

    <div class="col-md-12 col-md-offset-2">
      <h1 style="text-align: center;">Invitation </h1>
      <form [formGroup]="crudApi.dataForm" (ngSubmit)="onSubmit()">
        <input type="hidden" class="form-control" formControlName="id" id="id">
            
          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date" id="date">  
          </div> 
      
          <div class="form-group">
            <label> Email envoyé à</label>
            <input type="text" class="form-control" formControlName="destinataireEmail" id="destinataireEmail">   
        </div>

        <div class="form-group">
          <label>Statu d'envoi</label>
          <input type="text" class="form-control" formControlName="sentStatus" id="sentStatus">
        </div>

        
        
  <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
          <a [routerLink]="['/listemployee']" >   <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button></a>
            
         
      </form>
    </div>
  </div>
