<mat-toolbar color="secondary">
    <div fxHide.gt-xs>
        <button mat-icon-button >
            <mat-icon>Menu</mat-icon>
        </button>
    </div>
    <div>
      Liste Invitation 
    </div>
    <div  fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            
            <ol>
                <a routerLink="/listhh">Log Out</a>
            </ol>
        </ul>
    </div>
  </mat-toolbar>
     <div class="pricing-header mx-auto">
       <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-md">
        <thead>
        <tr>
        <th scope="col">id</th>
        <th scope="col">Date</th>
        <th scope="col">Destinataire</th>
        <th scope="col">Statu d'envoi</th>
        
    
        <th class="text-center" scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of this.crudApi.invitationList">
        <th  >{{item.id}}</th>
        <td >{{item.date}}</td>
        <td >{{item.destinataireEmail}}</td>
        <td >{{item.sentStatus}}</td>
        
    
        
         <td ><button class="btn btn-danger" (click) = "removeData(item.id)">
            <i class="fa fa-trash-o"></i></button></td>
           </tr>
        
             </tbody>
             </table>
             </div>
           </div>
    