

 
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"> </h1>
          <h2 class="mb-10"></h2>
          <h3 class="mb-5">Bienvenue dans notre plateform </h3>
          
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <div class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
           
              <i class="icon-screen-desktop m-auto text-primary" routerLink ="/logincompany" routerLinkActive="active"></i>
            </div>
            <h3>Espace entreprise</h3>
            <p class="lead mb-0">Faciliter la vie</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary" routerLink ="/signcompany" routerLinkActive="active"></i>
            </div>
            <h3>Inscrivez vous </h3>
            <p class="lead mb-0">Mieux vaut tard que jamais</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"routerLink ="/loginemploye" routerLinkActive="active"></i>
            </div>
            <h3>Espace employé</h3>
            <p class="lead mb-0">toujours disponible!</p>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Image Showcases -->
  <div class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/home/img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Bientot Mobile App </h2>
          <p class="lead mb-0">Bientot une application mobile sera disponible sur app store et play store merci pour votre confiance </p>
        </div>
      </div>
      
     
    </div>

  <!-- Testimonials -->
  <div class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">de quoi deja les gens pense a nous...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
 
 
            <img class="img-fluid rounded-circle mb-3" src="assets/home/img/testimonials-1.jpg" alt="">
            <h5>Sawsen</h5>
            <p class="font-weight-light mb-0">" fantastique! Merci "</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/home/img/testimonials-2.jpg" alt="">
            <h5>Khaled</h5>
            <p class="font-weight-light mb-0">"Vos services sont les meilleurs."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/home/img/testimonials-3.jpg" alt="">
            <h5>Sarah </h5>
            <p class="font-weight-light mb-0">"Merci pour ce service la"</p>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Call to Action -->
  <div class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
             </div>
          </form>
        </div>
      </div>
    </div> 
              
       

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="http://www.agil.com.tn/fr/httpdoc/agil-presentation.php">About </a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="http://www.agil.com.tn/fr/httpdoc/contacts-information.php">Contact</a>
            </li>
            
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">Esprit &copy; Globe Business</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/agil.com.tn/?ref=br_rs">
                <i class="fab fa-facebook fa-2x fa-fw" ></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://twitter.com/Agil22296891">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.agil.com.tn/">
                <i class="fa fa-th-large fa-2x fa-fw" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
     
</div>
 


