{% extends 'base_front.html.twig' %}

{% block title %}Ajout commentaire{% endblock %}

{% block body %}
    <div align="center">
    <h1>Ajout commentaire</h1>
        <br/>
    {{ include('commentaire/_form.html.twig') }}
        <br/><br/>
    </div>
{% endblock %}
