<form method="post" action="{{ path('compte_delete', {'idcompte': compte.idcompte}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.idcompte) }}">
    <button class="btn btn-filters active">Delete</button>
</form>
